body
{
   text-align: center;
   
   margin:0 auto;

color: aliceblue;

}
.image{
    background-image:url(https://wallpapercave.com/wp/wp7029305.jpg) ; 
background-repeat: no-repeat;
background-size:cover;
 background-position:top center ; 
background-attachment: fixed;



}
div{
    
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
{
    list-style-type: none;

}
div li{
    display: inline;
    color: rgb(59, 77, 92);
    background-color: rgb(255, 255, 255) transparent;
    padding: 20px;
    

}
a:hover{
    color: rgb(213, 201, 33);
    text-decoration: none;
}
h1 {
   
    font-style:italic;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    color: rgb(203, 212, 219);
}
footer{
    color: aliceblue;
    font-size: 20px;
    border-style:solid ;
    border-radius: 50px;
    border-width: thin;
    margin-top: 50px;
}
a{
    font-size: 170%;
    text-decoration: none;
    color: rgb(179, 179, 190);
}
.footer li{
    list-style-type: none;
}
header{
    margin-bottom: 30px;
}
@media only screen and (max-width: 700px) {
    .image{
        background-image:url(https://static.toiimg.com/photo/80045903/80045903.jpg?v=3) ; 
    background-repeat: no-repeat;
    background-size:cover;
     background-position:top center ; 
    background-attachment: fixed;
    }
   a{
    color: aliceblue;
   }
   h1{
    color: aliceblue;
   }
}
